.content-container {
  height: 100%;
}
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0c0d0d;
  color: #f0f0f0;
  background-image: var(--darkgrey-color);
}

.about h2 {
  font-size: 80px;
  color: var(--white-color);
  text-shadow: 0px 0px 10px var(--red-color);
}

.about .prompt {
  margin-top: 20px;
  width: 70%;
  font-size: 30px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

/* --------------- Skills Section ----------  */
.skills {
  background-color: var(--dark-color);
}

.skills h1 {
  color: var(--white-color);
  text-shadow: 0px 0px 5px var(--red-color);
  padding-top: 100px;
  text-align: center;
  font-size: 55px;
  font-weight: 900;
}

.listSkills {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.skillcard {
  width: 80%;
  height: 300px;
  background: linear-gradient(#1b1b1b, rgb(69, 69, 69));
  margin: 25px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skillcard .icon img {
  width: 60px;
  filter: invert(100%);
}

.skillcard .content {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillcard .content h2 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.skillcard p {
  margin-top: 20px;
  font-size: large;
  color: var(--white-color);
  text-shadow: 0px 0px 5px var(--red-color);
}

@media only screen and (max-width: 600px) {
  .listSkills {
    flex-direction: row;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .listSkills {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .skillcard {
    max-width: 500px;
  }
}

@media only screen and (min-width: 3800px) {
  .skillcard {
    max-width: 500px;
    transform: scale(2);
  }
  .listSkills {
    height: 90%;
  }
  .skills {
    height: 100vh;
  }
}
