.footer {
  width: 100%;
  padding: 1em;
  bottom: 0;
  text-align: center;
  background: #0b0b0b;
  color: var(--white-color);
}
.socialMedia {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.socialMedia svg {
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.footer p {
  color: white;
}
