.footer {
  background: #0b0b0b;
  color: var(--white-color);
  padding: 1em;
  text-align: center;
}

.socialMedia svg {
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.footer p {
  color: white;
}
