.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 2;
  /* justify-content: left; */
  background: var(--dark-color);
  color: white;
}

/* navbar links */
.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px 5px 20px 60px;
  font-size: 20px;
}

.navbar a:hover {
  transition: all 250ms ease-in-out;
  color: var(--red-color);
}

.navbar a svg {
  transform: scale(1.4);
}
