.projects {
  grid-area: cont;
  background: var(--darkgrey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects h1 {
  color: white;
}

.projectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.projectItem {
  margin: 35px;
  width: 300px;
  height: 300px;
  background: linear-gradient(var(--mediumgrey-color), var(--white-color));
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgb(0, 0, 0);
  text-align: center;
}

.projectItem h1 {
  font-size: 25px;
  margin-top: 30px;
  color: var(--dark-color);
  font-style: italic;
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px var(--red-color);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}
