* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --red-color: #f9004d;
  --pink-color: #fa3e86;
  --white-color: #fff;
  --darkgrey-color: #191919;
  --dark-color: #101010;
  --mediumgrey-color: rgba(198, 201, 216, 0.75);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
